# Gradle
.gradle/

# Extra dependencies (database drivers)
bin/

# Dropwizard
build/
logs/
configuration.yaml

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
out/

# Mac OS X
.DS_Store

# Build Properties
build.properties

# Keytool Files
*.pem
*.cer
*.keystore
*.truststore
