# Gradle
.gradle/

# Dropwizard
build/
logs/
configuration.yaml

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Mac OS X
.DS_Store

# Build Properties
build.properties

# Driver Dependencies
bin/

# Library Dependencies
lib/

# Output Related files
out/

# Keytool Files
*.pem
*.cer
*.keystore
*.truststore
